.container {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(120, 114, 114);
    max-width: 400px;
    box-shadow: 3px 4px 6px 4px rgb(209, 209, 209);
}
h3 {
    font-family: serif;
    font-size: 2em;
    margin: 10px;
}
img {
    width: 380px;
    margin: auto;
}
.section {
    display:flex;
    flex-direction: column;
    max-width: 380px;
    border: 1px solid rgb(120, 114, 114);
    margin: auto;
    justify-content: center;
}
