.card {
    width: 340px;
    height: 600px;
    border: 1px solid black;
    box-shadow: 3px 4px 6px 4px rgb(209, 209, 209);
}
h3 {
    font-family: serif;
    font-size: 2em;
    padding-left: 10px;
    margin-top: 8px;
    margin: 8px;
}
img {
    padding: 10px;
}
.info {
    border: 1px solid black;
    width: 320px;
    height: auto;
}
